* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Arial, sans-serif;
  background-color: #efdbf4;
  color: #222;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #2f0870;
  height: 80px;
  color: #e5e7eb;
  font-size: 18px;
}

.routes {
  display: flex;
  height: 80%;
}

.routes a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.routes a:hover {
  background-color: #e5e7eb;
  color: #2f0870;
}

.user-control {
  display: flex;
  align-items: center;
}

.switch-button {
  background-color: #c93dbd;
  color: #e5e7eb;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15px;
  transition: background-color 0.2s;
  font-size: 18px;
}

.user-control button:hover {
  background-color: #591ece;
}

/* Message Item */

.message-bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 35px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: #e5e7eb;
}

.message-user {
  align-self: flex-end;
  background-color: #591ece;
  border: 1px solid #591ece;
}

.message-bot {
  align-self: flex-start;
  background-color: #c93dbd;
  border: 1px solid #c93dbd;
}

.sender-name {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.sender-user {
  color: #e79bdc;
}

.sender-bot {
  color: #2f0870; 
}

.message-timestamp {
  display: block;
  font-size: 0.65em;
  color: #d4b5d9;
  margin-top: 5px;
  font-weight: bold;
  padding: 2px;
}

.time-user {
  text-align: right; 
}

.time-bot {
  text-align: left; 
}

/* History */

h2 {
  padding: 0 15px;
  color: #591ece;
  margin-top: 20px;
}

.conversation {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Chat */

.chat-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #2f0870;
}

.chat-conversation {
  flex-grow: 0.9;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #2f0870;
}

.message-bar {
  flex-grow: 1;
  padding: 20px;
  border: 2px solid #2f0870;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
  background-color: #efdbf4;
  color: #2f0870;
}

.send-button {
  padding: 10px;
  background-color: #2f0870;
  color: #e5e7eb;
  border: 2px solid #2f0870;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
}

.send-button:hover {
  background-color: #e5e7eb;
  color: #2f0870;
}

.send-button:disabled {
  background-color: #cccccc;
  color: #666666;
  border: 2px solid #cccccc;
  cursor: not-allowed;
}
