* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
  padding: 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: white;
}

.routes a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  margin-right: '15px',
}

.user-control {
  display: 'flex';
  align-items: 'center',
}

/* Message Item */

.message-bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.message-user {
  align-self: flex-end;
  background-color: #dcf8c6; 
}

.message-bot {
  align-self: flex-start;
  background-color: #fff;
}

.sender-name {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.sender-user {
  color: #1e90ff; 
}

.sender-bot {
  color: #00a86b; 
}

.message-timestamp {
  display: block;
  font-size: 0.65em;
  color: #888;
  margin-top: 5px;
}

.time-user {
  text-align: right; 
}

.time-bot {
  text-align: left; 
}

/* History */

.history-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  padding: 0 15px;
  color: #007bff;
}

.conversation {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
